toml
jinja2
ndjson
pandas
numpy
matplotlib
jupyter
ipywidgets
bunch
stringcase
papermill
jupyter-ui-poll
jupyter_contrib_nbextensions
durations
seaborn
python-rclone
pandas-sets
base58
ipyfilechooser
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability